.top-code {
    margin-top: -15rem;
    padding-top: 15rem;
    padding-bottom: 5rem;
    background-color: #57BA98;
}

.code {
    display: flex;
    margin: auto;
    justify-content: center;
    max-height: 600px;
    max-width: 999px;
    border: 2px solid rgb(216, 216, 216);
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgb(216, 216, 216);
    background-color: #F2F2F2
}

h4 {
    color: #3B945E;
}

.column {
    display: block;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    width: 333px;
    text-align: center;

}

.first {
    border-right: 1px solid rgb(216, 216, 216);
}

.last {
    border-left: 1px solid rgb(216, 216, 216);
}

.skills {
    padding-inline-start: 0px;
    list-style: none;
    line-height: 2rem;
}

.skill-icon {
    height: 60px;
    margin-top: 20px;
}

.icon-container {
    margin-top: 40px;
    height: 100px;
    width: 100px;
    margin: auto;
    background-color: #65ccb8;
    border-radius: 50%
}