

.code {
    display: flex;
    justify-content: center;
    max-height: 600px;
    max-width: 999px;
    border: 2px solid rgb(216, 216, 216);
    border-radius: 10px;
    box-shadow: 3px 3px 3px #FF6639;
    background-color: #F2F2F2
}

.code-container {
    display: flex;
    justify-content: center;
    margin: auto 85px;
}

h4 {
    color: #0CAD88;
}

.column {
    display: block;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    width: 333px;
    text-align: center;
}

@media only screen and (min-width: 1170px) {
    .code {
        margin: auto;
    }
}



.first {
    border-right: 1px solid rgb(216, 216, 216);
}

.last {
    border-left: 1px solid rgb(216, 216, 216);
}

.skills {
    padding-inline-start: 0px;
    list-style: none;
    line-height: 2rem;
}

.skill-icon {
    height: 60px;
    margin-top: 20px;
}

.icon-container {
    margin-top: 40px;
    height: 100px;
    width: 100px;
    margin: auto;
    background-color: #00AD85;
    border-radius: 50%
}

@media only screen and (max-width: 600px) {

    .icon-container {
        height: 50px;
        width: 50px;
    }

    
    .skill-icon {
        height: 30px;
        margin-top: 10px;
    }
}


@media only screen and (max-width: 900px) {
    .code {
        width: 450px;
        flex-direction: column;
        max-height: 1800px;
        margin: auto;
    }

    .column {
        position: relative;
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
    .first {
        border-right: none;
        border-bottom: 1px solid rgb(216, 216, 216)
    }
    
    .last {
        border-left: none;
        border-top: 1px solid rgb(216, 216, 216)
    }
}

@media only screen and (max-width: 500px) {
    .code-container {
        margin: auto;
        width: 100%;
    }
    .code {
        margin-left: 10px;
        margin-right: 10px;
        width: 100%;
    }
}

@media only screen and (min-width: 1170) {

    .column {
        flex: 1 1 0;
        width: auto;
    }
}