.job-header {
    background-color: #4C323B;
    box-shadow: 3px 3px 3px #D98FA9
}

.job-header-heading {
    color: #F2F2F2;
    margin-block-start: 5px;
    margin-block-end: 0;
}

.jobs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1100px;
    margin: auto;
    margin-top: 20px;
}

.job {
    position: relative;
    /* height: 300px; */
    width: 450px;
    text-align: center;
    margin: 0 50px;
    margin-bottom: 50px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px #D98FA9;
}

.husky {
    margin-bottom: 0;
}

.job-header-text {
    text-align: center;
    color: #F2F2F2;
    font-weight: bold;
}

.job-image {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.overlay {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: #4C323B;
    border-radius: 10px;
    transition: opacity .7s ease;
    color: #F2F2F2;

}

.overlay:hover {
    opacity: 0.85;
}

.link {
    height: 40px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px auto;
    border: 2px solid #D98FA9;
    border-radius: 20px;
    vertical-align: middle;
    transition: background-color color 0.25s;
    cursor: pointer;
}

.link p {
    font-weight: bold;
    font-size: 20px;
}

.link:hover {
    background-color: #FFA5C7;
}

.link:active {
    box-shadow: inset 0 0 10px #062230
}

a {
    font-size: 20px;
    color: white;
    text-decoration: none;
}

@media only screen and (max-width: 500px) {
    .job {
        width: 100%;
        height: auto;
        margin-left: 10px;
        margin-right: 10px;
    }

}