.container {
    margin: auto;
    font-family: sans-serif;
}

h3 {
    color: #F2F2F2;
    margin-bottom: 10px;
}

.contact-form-container {
    position: fixed;
    display: flex;
    z-index: 10000;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    margin-block-end: 0;
    margin-block-start: 0;
    opacity: 0;
    background: rgb(0,0,0);
    transition: height opacity 0.5s
}

.contact-form {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 600px;
    width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 2px solid #F2F2F2;
    padding: 25px;
    box-sizing: border-box;
}

@media only screen and (max-width: 500px) {
    .contact-form {
        width: 90%;
    }
}

.contact-form-input {
    width: 100%;
    padding: 0;
    font-size: 16px;
    height: 30px;
    font-weight: 600;
    background-color: transparent;
    border: 2px solid #F2F2F2;
    transition: 1s cubic-bezier(.075,.82,.165,1);
    color: #F2F2F2;
}

.textarea {
    height: 200px;
}

.contact-label {
    color: #F2F2F2;
}

.submit {
    height: 40px;
    background-color: transparent;
    border: 2px solid #F2F2F2;
    font-size: 20px;
    font-weight: 600;
    color: #F2F2F2;
}

.submit:hover {
    background-color: #57BA98;
}

.exit-button {
    position: absolute;
    top: 3px;
    right: 3px;
    height: 30px;
    width: 30px;
    text-align: center;
    border-radius: 10px;
    border: none;
    background-color: #3B945E;
    box-shadow: 2px 2px 2px #57BA98
}

.exit-button:active {
    transform: scale(0.95);
    box-shadow: 1px 1px 1px #57BA98;
}

.text {
    color: #F2F2F2;
}

.heading {
    text-align: center;
    font-size: 3rem;
    color: #3B945E;
}

.heading2 {
    text-align: center;
    color: #182628;
    margin-bottom: 4rem;
}

nav {
    margin-top: 40px;
}

.nav-links {
    display: flex;
    list-style: none;
    justify-content: right;
    padding-left: 0;
    margin-right: 150px;

}

.nav-link-item {
    padding: 1rem;
    margin-right: 1rem;
    border-radius: 1.5rem;
    font-size: 20px;
    transition: background-color 0.3s ease;
}

.nav-link-item:hover {
    background-color: #57BA98;

}

.nav-link-text {
    color: black;
    font-size: 26px;
}

.site-title {
    font-size: 3rem;
    color: #182628;
    font-weight: 700;
    margin: 3rem 0;
    margin-bottom: 1rem;
    text-align: right;
    margin-right: 100px;
}

footer {
    background-color: #182628;
    padding: 2rem;
}

.contact-list {
    display: flex;
    list-style: none;
}

.icon-wrapper {
    list-style: none;
}

.phone {
    font-size: 20px;
    color: #F2F2F2;
    text-decoration: none;
}

.contact-list {
    display: flex;
    justify-content: space-around;
    list-style: none;
    max-width: 1000px;
    margin: auto;
    padding-inline-start: 0px;
}

.icon-wrapper {
    list-style: none;
    margin: auto;
}

.phone {
    font-size: 20px;
    color: #F2F2F2;
    text-decoration: none;
}

.contact-text {
    color: #f2f2f2
}

.contact-icon {
    height: 25px;
    margin-right: 5px;
}

.footer-contact-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem auto;
    padding: 1rem 0;
    max-width: 1000px;
    background-color: #3B945E;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #57BA98;
    cursor: pointer;
    transition: background-color 0.25s ease;
}

.footer-contact-block:hover {
    background-color: #57BA98;
    transition: background-color 0.25s ease;
}

@media only screen and (max-width: 600px) {
    .site-title {
        font-weight: 700;
        text-align: center;
        margin-right: 0px;
    }
    .nav-links {
        justify-content: center;
        margin-right: 0;
    }

}

@media only screen and (max-width: 1200px) {
    footer {
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .contact-list {
        flex-direction: column;
        padding-inline-start: 0;
        width: 100%;
    }

    .icon-wrapper {
        margin: 10px auto;
    }
}