.container {
    margin: auto;
    font-family: sans-serif;
}

.heading {
    text-align: center;
    font-size: 3rem;
    color: #3B945E;
}

.heading2 {
    text-align: center;
    color: #182628;
    margin-bottom: 4rem;
}

.nav-links {
    display: flex;
    list-style: none;
    justify-content: right;
    padding-left: 0;
    margin-right: 150px;

}



.nav-link-item {
    padding: 1rem;
    margin-right: 1rem;
    border-radius: 1.5rem;
}

.nav-link-item:hover {
    background-color: #57BA98;
}

.nav-link-text {
    color: black;
}

.site-title {
    font-size: 3rem;
    color: #182628;
    font-weight: 700;
    margin: 3rem 0;
    margin-bottom: 1rem;
    text-align: right;
    margin-right: 100px;
}