* {
    margin-block-start: 0;
    margin-block-end: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
}

nav {
    padding-top: 30px;
}
.background {
    position: absolute;
    background-color: #062230;
    margin: auto;
    font-family: sans-serif;
}

h3 {
    color: #F2F2F2;
}





.site-title {
    font-size: 3rem;
    color: #182628;
    font-weight: 700;
    margin: 3rem 0;
    margin-bottom: 1rem;
    text-align: right;
    margin-right: 100px;
}

.contact-overlay {
    position: fixed;
    top:30vh;
    bottom: 100vh;
    left: 30px;
    right: 30px;
    display: flex;
    justify-content: space-between;
    color: white;
}

@media only screen and (max-width: 900px) {
    .contact-overlay {
        display: none;
    }
}

.email-overlay {
    writing-mode: vertical-rl;
    display: flex;
    align-items: center;
}

.email-overlay::after {
    content: "";
    height: 300px;
    background-color: gray;
    width: 1px;
}

footer {
    background-color: #062230;
    padding-bottom: 4rem;
}

.contact-list {
    display: flex;
    list-style: none;
}

.icon-wrapper {
    list-style: none;
}

.phone {
    font-size: 20px;
    color: #F2F2F2;
    text-decoration: none;
}

.contact-list {
    display: flex;
    justify-content: space-around;
    list-style: none;
    max-width: 1000px;
    margin: auto;
    padding-inline-start: 0px;
}

.icon-wrapper {
    list-style: none;
    margin: auto;
}

.phone {
    font-size: 20px;
    color: #F2F2F2;
    text-decoration: none;
}

.email {
    font-size: 20px;
    color: #F2F2F2;
    text-decoration: none;
    cursor: pointer;
}

.contact-text {
    color: #f2f2f2;
    font-weight: 500;
}

.contact-icon {
    height: 25px;
    margin-right: 5px;
}

.footer-contact-block {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    max-width: 1000px;
    background-color: #c24e2b;
    border-radius: 5px;
    box-shadow: 3px 3px 3px #FF6639;

    transition: background-color 0.25s ease, box-shadow 0.25s ease;
}

.footer-contact-button {
    padding: .75rem;
    border-radius: 5px;
    border: 2px solid white;
    font-size: 18px;
    background-color: #c24e2b;
    transition: background-color 0.3s ease;
    cursor: pointer;
    box-shadow: 3px 3px 3px #FF6639
}

.contact-me {
    margin-block-end: 0;
    margin-block-start: 0;
    font-weight: normal;
}

.footer-text {
    color: #f2f2f2;
    font-weight: 500;
}

.footer-contact-button:hover {
    background-color: #FF6639;
    box-shadow: 3px 3px 3px #00AD85;
    transition: background-color 0.25s ease, box-shadow 0.25s ease;
}

.footer-contact-button:active {
    background-color: #FF6639;
    box-shadow: inset 0 0 20px #062230;
}

@media only screen and (max-width: 1170px) {
    footer {
        padding-left: 10px;
        padding-right: 10px;
        margin: auto 85px;
    }
    
    .contact-list {
        flex-direction: column;
        padding-inline-start: 0;
        width: 100%;
    }

    .icon-wrapper {
        margin: 10px auto;
    }
}

@media only screen and (max-width: 600px) {
    .site-title {
        font-weight: 700;
        text-align: center;
        margin-right: 0px;
    }
    .nav-links {
        justify-content: center;
        margin-right: 0;
    }

    footer {
        padding-left: 0px;
        padding-right: 0px;
        margin: auto;
    }
    
    .footer-text {
        font-size: 20px;
    }

    .contact-me {
        font-size: 16px;
    }
}

