.hobby-bg {
    padding-top: 1rem;
}

.top-hobbies {
    padding-bottom: 4rem;
}

.hobby-image {
    height: 400px;
    max-width: 450px;
    border-radius: 10px;
}

.header-container {
    width: 1000px;
    padding-top: 1rem;
    padding-bottom: 2rem;
    height: 4rem;
    margin: auto;
    border-radius: 10px;
    margin-bottom: 4rem;
    margin-top: -4rem;
    position:relative;
}

.hobby-header {
    background-color: rgba(173,52,12,1);
    box-shadow: 3px 3px 3px #062230
}

@media only screen and (max-width: 1000px) {
    .header-container {
        width: 100%;
    }
}

.hobby-header-text {
    text-align: center;
    margin-block-start: 0;
    margin-top: 10px;
    color: #f2f2f2;
    font-weight: bold
}

.hobby {
    width: 450px;
    height: 400px;
    margin: 0 50px;
    margin-bottom: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 3px 3px 3px #062230;
    box-sizing: border-box;
}

.hobby:hover {
    box-shadow: none;
}

.hobby-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1100px;
    margin:auto;
}

.hobby-overlay {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    opacity: 0;
    border-radius: 10px;
    transition: opacity .5s ease, box-shadow 0.5s ease, background-color 0.5s ease;
    box-sizing: border-box;
    padding: 60px 30px;
}

.hobby-overlay:hover {
    opacity: .9;
    box-shadow: 3px 3px 3px #FF6639;
    background-color: #182628;
}

.hobby-overlay:active {
    box-shadow: inset 0 0 100px #FF6639
}

.hobby-tools {
    list-style: none;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}
.hobby-tools-item {
    color: #f2f2f2;
    text-align: center;
}

.hobby-text {
    margin: 0 auto;
    color: #f2f2f2;
    text-align: center;
}

.icon {
    height: 25px;
    margin-right: 5px;
}

@media only screen and (max-width: 600px) {
    .hobby-container {
        margin: auto 10px;
    }

    .hobby {
        height: auto;
        margin-right: 0px;
        margin-left: 0px;
    }
    .hobby-image {
        width: 100%;
        height: 310px;
    }

    .hobby-header-text {
        margin: 10px 10px;
    }
}