.avatar {
    height: 175px;
    border-radius: 50%;
}

.intro {
    text-align: center;
}

.intro-text {
    line-height: 2rem;
    color: #182628;
    height: 10rem;
    width: 80%;
    margin: 16px auto;
}

.mountains {
    height: 300px;
}

@media only screen and (max-width: 800px) {
    .mountains {
        width: 100%;
        height: auto;
    }
}