.avatar {
  height: 175px;
  border-radius: 50%;
}

.intro {
  background-position: bottom;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.intro-container {
  max-width: 40%;
}
@media only screen and (max-width: 985px) {
	.intro {
		padding: 25px;
	}
  .intro-container {
    max-width: 100%;
  }
}

.intro-text {
  line-height: 2rem;
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.4rem;
}
.text-highlight {
  color: #64ffda;
}
.text-highlight:first-of-type {
  color: #ff6639;
  font-weight: bold;
}
.main-heading {
  font-size: 1.4rem;
  color: #64ffda;
  font-weight: normal;
}

.main-heading-container {
  display: flex;
  justify-content: left;
  width: 262.79px;
  margin: auto;
}

.letter {
  min-width: 12px;
}

.heading-2 {
  color: #f2f2f2;
  font-size: clamp(40px, 8vw, 80px);
}
.sub-heading {
  font-size: 3.5rem;
  color: rgba(255, 255, 255, 0.6);
}

.mountains {
  height: 300px;
}

@media only screen and (max-width: 800px) {
  .mountains {
    width: 100%;
    height: auto;
  }
}
